<div class="container-fluid p-5">
  <div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-des-tab" data-toggle="pill" href="#v-pills-des" role="tab"
          aria-controls="v-pills-des" aria-selected="true">DES/3DES</a>
        <a class="nav-link" id="v-pills-aes-tab" data-toggle="pill" href="#v-pills-aes" role="tab"
          aria-controls="v-pills-aes" aria-selected="false">AES</a>
        <a class="nav-link" id="v-pills-rsa-tab" data-toggle="pill" href="#v-pills-rsa" role="tab"
          aria-controls="v-pills-rsa" aria-selected="false">RSA</a>
        <a class="nav-link" id="v-pills-ecc-tab" data-toggle="pill" href="#v-pills-ecc" role="tab"
          aria-controls="v-pills-ecc" aria-selected="false">ECC</a>
          <a class="nav-link" id="v-pills-hash-tab" data-toggle="pill" href="#v-pills-hash" role="tab"
          aria-controls="v-pills-hash" aria-selected="false">Hash</a>
      </div>
    </div>
    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-des" role="tabpanel" aria-labelledby="v-pills-des-tab">
          <div class="row">
             
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-aes" role="tabpanel" aria-labelledby="v-pills-aes-tab">...</div>
        <div class="tab-pane fade" id="v-pills-rsa" role="tabpanel" aria-labelledby="v-pills-rsa-tab">...
        </div>
        <div class="tab-pane fade" id="v-pills-ecc" role="tabpanel" aria-labelledby="v-pills-ecc-tab">...
        </div>
        <div class="tab-pane fade" id="v-pills-hash" role="tabpanel" aria-labelledby="v-pills-hash-tab">...
          </div>
      </div>
    </div>
  </div>
</div>