<div class="container-fluid p-5">
  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let inputForm of inputForms">
      <as-input-form [title]="inputForm.title" 
                      [id]="inputForm.id" 
                      [showLength]="true"
                      [buttonCopy]="true"
                      [line]="8"
                      [text]="inputForm.text"
                      (focus)="onFocus($event)"
                      (textChanged)="onTextChanged($event)"></as-input-form>
    </div>
  </div>
</div>