<div class="container-fluid">
  <div class="row title">
    <div class="col-12">
      <h1>Convert Anything</h1>
      <h6>by <a href="https://twitter.com/asyarif_" target="_blank">@asyarif_</a></h6>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Text</a>
          <a class="nav-item nav-link " id="nav-crypto-tab" data-toggle="tab" href="#nav-crypto" role="tab" aria-controls="nav-crypto" aria-selected="false">Cryptography</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <as-convert-text></as-convert-text>
        </div>
        <div class="tab-pane fade " id="nav-crypto" role="tabpanel" aria-labelledby="nav-crypto-tab"><as-cryptography></as-cryptography></div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">c</div>
      </div>
    </div>
  </div>
</div>
